﻿@model ASPDataAdapterExample.Models.Employee
@{
    ViewBag.Title = "AddEmployee";
}

<h2>AddEmployee</h2>

<form class="form-horizontal" method="post" action="AddEmployee">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="form-group">
        <label for="Name" class="cols-sm-2 control-label">Your Name</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                @Html.TextBoxFor(employee => employee.Name, new { placeholder = "Enter Name", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="Salary" class="cols-sm-2 control-label">Employee Salary</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                @Html.TextBoxFor(employee => employee.Salary, new { placeholder = "Enter Salary", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="Contact" class="cols-sm-2 control-label">Employee Contact</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                @Html.TextBoxFor(employee => employee.Contact, new { placeholder = "Enter Contact", @class = "form-control" })
            </div>
        </div>
    </div>


    <div class="form-group ">
        <button type="submit" class="btn btn-primary btn-sm  login-button">Add Employee</button>
    </div>
 

</form>