﻿@model ASPDataAdapterExample.ViewModels.EmployeeViewModel
@{
    /**/

    ViewBag.Title = "Employees";
}

<h2>Employees</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success close">
        <strong>Success!</strong> @TempData["Message"]
    </div>
}

@if (Model.Employees.Count <= 0)
{
    <div class="alert alert-danger">
        <strong>Success!</strong> No Records Found
    </div>
    @Html.ActionLink("Add Employee", "AddEmployee", "Employee")
}
else
{
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center">Emp Id</th>
                <th class="text-center">Employee Name</th>
                <th class="text-center">Salary</th>
                <th class="text-center">Contact</th>
                <th class="text-center">Edit</th>
                <th class="text-center">Delete</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var employee in Model.Employees)
            {
                <tr class="text-center">
                    <td>@employee.Id</td>
                    <td>@employee.Name</td>
                    <td>@employee.Salary</td>
                    <td>@employee.Contact</td>
                    <td>@Html.ActionLink("Edit", "UpdateEmployee", "Employee", new { id = employee.Id }, null)</td>
                    <td>@Html.ActionLink("Delete", "DeleteEmployee", "Employee", new { id = employee.Id }, null)</td>
                </tr>

            }

        </tbody>
    </table>

    @Html.ActionLink("Add Employee", "AddEmployee", "Employee")
}