﻿@model ASPDataAdapterExample.Models.Employee

@{
    ViewBag.Title = "UpdateEmployee";
}


<h2>UpdateEmployee</h2>

<form class="form-horizontal" method="post" action="/Employee/UpdateEmployee">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <input type="hidden" class="form-control" name="Id" id="Id" placeholder="Enter your Name" value="@Model.Id" />

    <div class="form-group">
        <label for="Name" class="cols-sm-2 control-label">Your Name</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="Name" id="Name" placeholder="Enter your Name" value="@Model.Name" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="Salary" class="cols-sm-2 control-label">Employee Salary</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="Salary" id="Salary" placeholder="Enter your Name" value="@Model.Salary" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="Contact" class="cols-sm-2 control-label">Employee Contact</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="Contact" id="Contact" placeholder="Enter your Name" value="@Model.Contact" />
            </div>
        </div>
    </div>


    <div class="form-group ">
        <button type="submit" class="btn btn-primary btn-sm  login-button">Update Employee</button>
    </div>


</form>